<div class="card-algorithm output">

    {% for key, title, description, type in input %}

    <div><span class="option-title">{{title}}</span><span class="option-description">{{description}}</span></div>

    <div class="content">

        {% if type == 'string' %}
        <input class="alg-input" type="text" id="{{key}}">
        {% elif type == 'bool' %}
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="{{key}}">
            <input type="checkbox" id="{{key}}" class="mdl-switch__input" checked>
            <span class="mdl-switch__label">{{key}}</span>
        </label>
        {% elif type == 'list' %}
        {% endif %}

    </div>

    {% endfor %}

</div>
