{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>TICD</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Algoritmi</span>
        <nav class="mdl-navigation">
            {% for category, items in algorithms.items %}
            <a class="mdl-navigation__link category">{{ category }}</a>
            {% for alg in items %}
            <a class="mdl-navigation__link algorithm {% if alg == algorithm %}active{% endif %}"
               href="/algorithms/{{ alg }}">{{ alg }}</a>
            {% endfor %}
            {% endfor %}
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            {% include "algorithm-input.html" %}
            {% include "algorithm-output.html" %}
        </div>
    </main>
</div>
</body>

</html>